.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
_site/
/_*.local
*_render/
venv
*.pyc
*_files/

/_site/
**/index.qmd
**/.DS_Store
*.Rproj

# Temporary files for changelog system
DOCS/_meta/.temp_path_mapping.json

Files_to_convert/**
